<!doctype html>

<head>
    <title>The Grove | Dashboard </title>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='icon' href='/img/favicon.ico'>
    <style>
        body {
            background-image: url(/img/forest.png);
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class='row'>
        <div class='col-md-5' style='padding:15px;padding-left:30px;'>
            <div class='jumbotron' style='text-indent:25px;'>
                <h1><%= user.username %></h1>
                <p class='lead'> <%= user.race %></p>
                <p class='lead'>Your Status: <%= user.class %></p>
                <p class='lead'>Your Map is: <%= user.map %></p>
                <a href='/logout'>Logout</a>
            </div>
            <a href='/play' class='btn btn-lg btn-block btn-success-outline'>Play</a>
            <hr>
            <h3>Inventory</h3>
            <div id='inventory'></div>
        </div>
        <div class='col-md-5' style='padding:15px;padding-left:30px;'>
            </ul>
        </div>
    </div>
</body>