<!doctype html>

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
</head>

<body>
    <div class='row'>
        <div class='col-md-5' style='padding:15px;padding-left:30px;'>
            <div class='jumbotron' style='text-indent:25px;'>
                <h1 class='username'>Dashboard</h1>
                <p class='lead'>» <span class='race'></span> <span class='class'></span></p>
                <p class='lead'><span class='map'>dogeberries</span></p>
            </div>
            <form method='post' action='/ACCOUNT_DB_DATA'>
                <input type='hidden' name='username' value='delete this to type'>
                <input type='hidden' name='password' value='delete this to type'>
                <input type='hidden' value='dashboard' name='type'>
                <input type='submit' value='&nbsp;play&nbsp;' id='playbtn' class='btn btn-lg btn-block btn-success-outline'>
            </form>
            <hr>
            <h3>Inventory</h3>
            <div id='inventory'></div>
        </div>
        <div class='col-md-5' style='padding:15px;padding-left:30px;'>
            <h1>Game Updates</h1>
            <hr>
            <ul class='list-group'>
                <li class='list-group-item'>
                    Added portals, fixed the camera angles, and added a particle system.
                    <br><span class='label label-default label-pill'>0.0.6 pre-alpha</span>
                </li>
                <li class='list-group-item'>
                    Added AI's and switched to <a href='//clara.io'>clara.io</a> for graphics.
                    <br><span class='label label-default label-pill'>0.0.4 pre-alpha</span>
                </li>
                <li class='list-group-item'>
                    The Grove goes 3D. Kinda... Uh... no.
                    <br><span class='label label-default label-pill'>0.0.0 pre-alpha</span>
                </li>
            </ul>
        </div>
    </div>
    <script>
        var socket = io();
        socket.on('createPlayer', function (data) {
            var dat = data.accountData;
            document.title = dat.username + ' - The Grove';
            $('input[name="username"]').val(dat.username); //#jayZ with them jQuery'S
            $('input[name="password"]').val(dat.password);
            $('.username').text(dat.username);
            $('.class').text(dat.class);
            $('.race').text(dat.race);
            $('.map').text(dat.map);
            for (var key in dat.inventory) {
                document.getElementById('inventory').innerHTML += '<img width=50 style=margin:5px; src=/img/icons/' + dat.inventory[key] + '.svg title=' + dat.inventory[key] + '>';
            }
        });
    </script>
</body>