<!doctype html>

<!--
                       _oo0oo_
                      o8888888o
                      88" . "88
                      (| -_- |)
                      0\  =  /0
                    ___/`---"\___
                  ." \\|     |// ".
                 / \\|||  :  |||// \
                / _||||| -:- |||||- \
               |   | \\\  -  /// |   |
               | \_|  ""\---/""  |_/ |
               \  .-\__  "-"  ___/-. /
             ___". ."  /--.--\  `. ."___
          ."" "<  `.___\_<|>_/___." >" "".
         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
         \  \ `_.   \_ __\ /__ _/   .-` /  /
     =====`-.____`.___ \_____/___.-`___.-"=====
                       `=---="


     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

               Buddha bless the code.
-->

<html lang="en">

<head>
  <title>The Grove | Home</title>
  <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="icon" href="/img/tree.png">
  <link rel="author" href="https://github.com/stickyfingies">
  <meta name="description" content="The Grove mmo">
  <meta name="google-site-verification" content="M0Fqp80V_5fWOZL4Isr2dDD_x5ctHG0AWENlmXvU0tg" />
  <meta name="google-site-verification" content="dKrUn7pDvpG3PQeN81Vvz710aFPqnDUBYzn0VCyA6Ko" />
  <meta name="msvalidate.01" content="F1CE3178A4FCD83F869851C373821E9D" />
  <meta property="og:title" content="The Grove">
  <meta name="keywords"
    content="the grove, grove game, grove mmo, nate goldsborough, seth traman,  cellman123, artifex game studios, hybrid alpaca game studios, the grove mmo, grove MMORPG, nathen418, the grove home" />
  <meta property="og:description" content="The Grove is an open-source online MMORPG.">
  <meta property="og:image" content="/img/favicon.ico">

</head>

<body>
  <div id="menu">
    <h1>The Grove</h1>
    <a href="/login" class="btn btn-lg btn-success" role="button">Login</a>
    <br>
    <a href="/register" class="btn btn-lg btn-success">Register</a>
    <br>
    <a href="http://www.grove-mmo.com" class="btn btn-lg btn-success">Grove Homepage</a>
    <br>
    <a href="https://www.gofundme.com/grove-mmo?utm_medium=wdgt" class="btn btn-lg btn-success">Donate Now!</a>
  </div>
  <!-- @nathen418: keen tracking's API moved / changed, deleting the script for now -->
</body>

</html>