<!doctype html>
<html>

<head>
    <title>The Grove</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <style>
        body {
            background-image: url('/img/forest.png');
            background-size: cover;
        }
        h1 {
            color: white;
            margin: 150px;
            font-size: 70px;
        }
        button {
            margin-left: 150px;
            margin-top: -100px;
            padding: 15px 30px !important;
        }
    </style>
</head>

<body>
    <h1>The Grove</h1>
    <button class='btn btn-success btn-lg'><a href='/login' style='color:white;text-decoration:none;'>Login</a></button><br><br><br><br>
    <button class='btn btn-success btn-lg'><a href='/register' style='color:white;text-decoration:none;'>Register</a></button><br><br><br><br>
    <button class='btn btn-success btn-lg'>Info</button>
</body>

</html>