<!doctype html>
<html>

    <head>
        <title>Login | The Grove</title>
        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='icon' href='/img/icons/favicon.png'>
        <script src='/bower_components/jquery/dist/jquery.min.js'></script>
        <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
        <style>
            body {
                background-image: url('/img/forest.png');
                background-size: cover;
            }
            
            h1 {
                color: white;
                margin: 150px;
                font-size: 70px;
            }
            
            button {
                margin-left: 150px;
                margin-top: -100px;
                padding: 15px 30px !important;
            }
        </style>
    </head>

    <body>
        <div class='container-fluid'>
            <span style='color:white;text-align:center;' id='error'></span>
        </div>
        <form method='post' action='/login' class='jumbotron' style='margin:100px;'>
            <div class='container-fluid'>
                <input name='username' placeholder='Username' class='form-control'>
                <br>
                <input name='password' placeholder='Password' type='password' class='form-control'>
                <br>
                <input name='type' type='hidden' value='login'>
                <input type='submit' class='btn btn-primary'>
                <br>
                <a href='/register'>Register</a>
                <br>
                <a href='mailto:artifexgamestudios@gmail.com'>Forgot Password</a>
                
            </div>
        </form>
        <script>
            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            if (getParameterByName('err') == 'not_found') document.getElementById('error').innerHTML = '<h3>Error: User not found!</h3>';
        </script>
    </body>

</html>