<!doctype html>
<html>

    <head>
        <title>Play | The Grove</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='icon' href='/img/favicon.ico'>

        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-2.2.3.min.js" crossorigin="anonymous"></script>
        <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js'></script>

        <script src='/js/vendor/three.min.js'></script>
        <script src='/js/vendor/cannon.min.js'></script>
        <script src='/js/vendor/THREEx.PointerLockControls.js'></script>
        <script src='/js/vendor/THREEx.ObjCoord.js'></script>
        <script src='/js/vendor/cannon.debug.js'></script>
        
        <script data-main='/js/app/main.js' src='/js/vendor/require.min.js'></script>

        <style>
            html,
            body {
                overflow: hidden;
            }
            
            #blocker {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }
            
            #instructions {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -moz-box;
                display: box;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                box-orient: horizontal;
                -webkit-box-pack: center;
                -moz-box-pack: center;
                box-pack: center;
                -webkit-box-align: center;
                -moz-box-align: center;
                box-align: center;
                color: #ffffff;
                text-align: center;
                cursor: pointer;
            }
            
            #voice-chat {
                position: fixed;
                left: 0px;
                bottom: 0px;
            }
        </style>
    </head>

    <body>
        
        <div id="blocker">
            <div id="instructions">
                <span style="font-size:40px"><%= user.username %></span>
                <br /> (W,A,S,D = Move, SPACE = Jump, MOUSE = Look, CLICK = Shoot)
            </div>
        </div>
        
        <script>
            String.prototype.capitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            };

            window.onerror = (msg, url, linenumber) => {
                alert('Error message: ' + msg + '\nURL: ' + url + '\nLine Number: ' + linenumber);
                return true;
            };
            var socket = io();
            socket.emit('client-credentials', {
                username: '<%= user.username %>',
                password: '<%= user.password %>'
            });
            $('form').submit(function () {
                var msg = $('#m').val();
                msg = msg.replace(/@map/gi, userdata.map.capitalize());
                msg = msg.replace(/@race/gi, userdata.race.capitalize());
                msg = msg.replace(/@class/gi, userdata.class.capitalize());
                msg = msg.replace(/:D/gi, 'ðŸ˜ƒ');
                msg = msg.replace(/:\)/gi, 'ðŸ˜Šï¸');
                socket.emit('chat message', userdata.username + ': ' + msg);
                $('#m').val('');
                return false;
            });
            
            socket.on('chat message', msg => {
                var elem = $('<li>').text(msg).appendTo('#messages');
                setTimeout(function () {
                    elem.fadeOut();
                }, 10000);
            });
        </script>
        <script src='/js/engine/pointerlock.js'></script>
        <script src='/js/engine/player.js'></script>
        <!--<script src='/js/engine/multiplayer.js'></script>-->
        <!--<script src='/js/engine/load.js'></script>-->
        <!--<script src='/js/engine/init.js'></script>-->
        <!--<script src='/js/engine/main.js'></script>-->
    </body>

</html>