<!doctype html>
<html>
    <title>The Grove | Play</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel='icon' href='/img/favicon.ico'>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
</head>
<body>
    
    <!--
    -\-                                                     
    \-- \-                                                  
     \  - -\                                                
      \      \\                                             
       \       \                                            
        \       \\                                              
         \        \\                                            
         \          \\                                        
         \           \\\                                      
          \            \\                                                 
           \            \\                                              
           \. .          \\                                  
            \    .       \\                                 
             \      .    \\                                            
              \       .  \\                                 
              \         . \\                                           
              \            <=)                                         
              \            <==)                                         
              \            <=)                                           
               \           .\\                                           _-
               \         .   \\                                        _-//
               \       .     \\                                     _-_/ /
               \ . . .        \\                                 _--_/ _/
                \              \\                              _- _/ _/
                \               \\                      ___-(O) _/ _/ 
                \                \                  __--  __   /_ /      ***********************************
                \                 \\          ____--__----  /    \_       I AM A PTERODACTYL
                 \                  \\       -------       /   \_  \_     HERE TO KILL ALL OF YOUR FRIENDS.
                  \                   \                  //   // \__ \_   **********************************
                   \                   \\              //   //      \_ \_ 
                    \                   \\          ///   //          \__- 
                    \                -   \\/////////    //            
                    \            -         \_         //              
                    /        -                      //                
                   /     -                       ///                  
                  /   -                       //                      
             __--/                         ///
  __________/                            // |               
//-_________      ___                ////  |                
        ____\__--/                /////    |                
   -----______    -/---________////        |                
     _______/  --/    \                   |                 
   /_________-/       \                   |                 
  //                  \                   /                 
                       \.                 /                 
                       \     .            /                 
                        \       .        /                  
                       \\           .    /                  
                        \                /                  
                        \              __|                  
                        \              ==/                  
                        /              //                   
                        /          .  //                    
                        /   .  .    //                      
                       /.           /                       
                      /            //                       
                      /           /
                     /          //
                    /         //
                 --/         /
                /          //
            ////         //
         ///_________////


-->

    <div id='main'></div>
    <div id='crosshair' style='position:fixed;left:50%;top:50%;'>[ &times; ]</div>

    <div id="blocker">
            <div id="load">
                <img id='spinner' src='//samherbert.net/svg-loaders/svg-loaders/tail-spin.svg'><br>
                <button id='load-play-btn' class='play-btn btn waves-effect waves-light light-green z-depth-3'>Play</button>
            </div>
    </div>

    <div id='underlay'></div>

    <div id='pause' class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Paused</span>
            <p>The Grove is currently paused.</p>
        </div>
        <div class="card-action">
            <a href="#" class='play-btn btn waves-effect waves-light light-green z-depth-3'>Resume</a>
            <br><br><a href="/" class='play-btn btn waves-effect waves-light red z-depth-3'>Exit </a>
        </div>
    </div>

    <div id='hud' class='center'>
        <canvas id="hp-bar" width="578" height="200">ERROR</canvas>
    </div>

    <div id='quest-alert'>
        <p>Loading...</p>
        <small>Loading...</small>
    </div>

    <div id='gui'>
        <h3 id='gui-title'></h3>
        <span id='gui-content'></span>
        <div id='gui-exit' class='play-btn btn waves-effect waves-light green z-depth-3'>Resume =)</div>
    </div>
    
    <div id='chat'>
        <input id='chat-input'>
    </div>
    
</div>

    <%- partial('play/shaders') %>
    <%- partial('play/libs') %>

    <script>
        window.__D = {
            username: '<%= user.username %>',
            password: '<%= user.password %>'
        };

        console.log('Game Play has Started.');
        String.prototype.capitalize = function() {
            return this.charAt(0).toUpperCase() + this.slice(1);
        };
        window.onerror = (msg, url, linenumber) => {
            alert(`Error message: ${msg}\nURL: ${url}\nLine Number: ${linenumber}`);
            return true;
        };
        ;(function() {
            var _push = Array.prototype.push;
            Array.prototype.push = function() {
                return this[_push.apply(this, arguments) - 1];
            }
        }());
    </script>

    <script src='/js/engine/pointerlock.js'></script>
    <script src='/js/vendor.js' defer></script>
    <script src='/js/latest.js' defer></script>
</body>

<!--Start of Google Analytics-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91570609-1', 'auto');
  ga('send', 'pageview');
</script>

<!--End of Google Analytics-->